* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: #ccc;
  padding: 24px;
}

.menu{
  background-color: #eee;
  height: 100%;
  width: 15%;
  position: absolute;
  
}

.hotelsDiv{
  margin-left: 15%;
  padding: 24px;
}

.row{
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.col{
  display: flex;
  width: 100%;
}
.col.right{
  flex-direction: column;
  margin-left: auto;
  justify-content: space-evenly;
  text-align: right;
  /* margin-left: auto; */
  
  
}

.button{
  width: 300px;
  padding: 16px;
  background-color: rgba(128, 0, 128, 0.5);
  border-radius: 12px;
  border: 0;
  cursor: pointer;
  margin-left: auto;
}


.prodDetails{
  padding: 0 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 50%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 36px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}